/*tablet and smaller screens*/
@media only screen and (max-width: 1000px) {
    .filterFunctions div {
        flex: 100%;
    }

    .list_lo {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*mobile*/
@media only screen and (max-width: 620px) {
    aside,
    #map1 {
        flex: unset;
        width: 100%;
        flex-shrink: 0;
    }

    main {
        width: 100%;
    }

    .switch-button {
        display: block;
        margin: auto;
        z-index: 10;
        margin-top: 10px;
    }

    .mobileViewHide {
        animation-name: fadeAway;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    .mobileViewShow {
        animation-name: fadeAwayReverse;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeAway {
        from {
            left: 0%;
        }
        to {
            left: -100%;
        }
    }

    @keyframes fadeAwayReverse {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }

    header {
        height: 65px;
    }

    main {
        top: 65px;
    }

    .filterFunctions {
        display: none;
        position: fixed;
        bottom: 0;
        background: rgb(255, 255, 255);
        width: 100%;
        left: 0;
        padding: 17px;
        box-shadow: 0px -100px 0px 500px #00000073;
    }

    .resetDefault {
        position: fixed;
        display: none;
    }

    .filtersContent {
        background-color: unset;
        box-shadow: unset;
        width: 100%;
        margin-top: 40px;
        padding-bottom: 5px;
        padding: 30px 25px 10px 25px;
    }

    .showHideFilter {
        display: unset;
    }
}
