/*tablet and smaller screens*/
@media only screen and (max-width: 1000px) {
    .filterFunctions div {
        flex: 100%;
    }

    .list_lo {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*mobile*/
@media only screen and (max-width: 600px) {
    .filtersContent {
        margin-top: 80px;
    }

    aside,
    #map1 {
        flex: unset;
        width: 100%;
        flex-shrink: 0;
    }

    main {
        width: 100%;
    }

    .switch-button {
        display: block;
        margin: auto;
        z-index: 30;
        margin-top: 10px;
    }

    .mobileViewHide {
        animation-name: fadeAway;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    .mobileViewShow {
        animation-name: fadeAwayReverse;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeAway {
        from {
            left: 0%;
        }
        to {
            left: -100%;
        }
    }

    @keyframes fadeAwayReverse {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }

    .filtersContent {
        background-color: none;
    }
}
